<section>
<h1>About Christopher</h1>

{% img bio http://gravatar.com/avatar/0128fa0de6a321d6e3766ae3fa06b9c2?s=80 %}

<ul><li>
<p>
Christopher is a developer on the <a href="http://msdn.microsoft.com/practices">patterns & practices</a> team at Microsoft.
</p>


<p>
He considers sidewalks to merely be suggestions and frequently falls under the influence of G. K. Chesterton.
</p><p>
He thinks agile software principles and open source software are pretty cool; especially if JavaScript is involved.
</p>
</li>
</ul>
</section>