// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
img.screenie {
	border: 0;	
}

body {
	@include box-shadow(black 0px 0px 30px, black 0px 0px 10px);
}

html {
	background-image: url('/images/bg.jpg');
	background-size: contain;
}

body > header {
  h1 {
    a, a:visited, a:hover {
    	color: rgb(127,127,127);
    	text-shadow: 0px -1px 0px rgba(0,0,0,0.7), 0px 1px 0px rgba(255,255,255,0.3);
    }
  }
}